.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square-container {
  width: 450px; /* Adjust this value to set the desired size of the square container */
  height: 400px; /* Same value as width to create a square container */
  display: flex;
  justify-content: center;
  align-items: center;
 
  border: 1px solid #332c2c; /* Add a border for visualization */
}

.square-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: none;
}
.row-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: none;
  width: 350px; /* Adjust this value to set the desired size of the square container */
  height: 300px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
   /* Same value as width to create a square container */
  
}